table{
    margin: 0px auto;
}

.Banner{
    background-color: rgb(83, 61, 28);
    color: rgb(215,200,161);
    padding: 32px 0;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    padding: 0px 0px;
    font-size: 42px;
    font-weight: bold;
    font-family: Arial;
}

.Banner2{
    background-color: rgb(83, 61, 28);
    color: rgb(215,200,161);
    width: 35%;
    height: 100px;
    margin: 70px;
    padding: 0px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    font-family: Arial;
}

.Banner3{
    background-color: rgb(83, 61, 28);
    color: rgb(215,200,161);
    width: 35%;
    height: 100px;
    margin: 70px;
    padding: 0px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    font-family: Arial;
}

.Banners{
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
}

body{
    background-color: rgb(215,200,161);
}

.button-style{
    display: block;
    background-color: rgb(83, 61, 28);
    text-decoration: none;
    color: rgb(215,200,161);
    padding: 15px 30px; 
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    border:2px solid black;
    cursor: pointer;
    border-radius: 20px;
}

.button-style:hover{
    display: block;
    background-color: rgb(215,200,161);
    text-decoration: none;
    color: rgb(83, 61, 28);
    padding: 15px 30px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    border:2px solid black;
    cursor: pointer;
    border-radius: 20px;
}

.TexteIndex{
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
    padding: 4px;
    font-size: 18px;
}

.TitreTexteIndex{
    text-align: center;
}

table{
    border-collapse: collapse;
}

td{
    padding: 6px;
    text-align: center;
    border: 1px solid black;
}

th{
    border: 1px solid black;
    padding: 6px;
    text-align: center;
    background-color: rgb(83, 61, 28);
    margin: 10px 60px;
    padding: 6px;
}

.TexteParcours{
    text-align: left;
    margin-left: 450px;
    margin-right: 450px;
    padding: 4px;
    font-size: 18px;
}

.TexteCompetences{
    text-align: left;
    margin-left: 450px;
    margin-right: 450px;
    padding: 4px;
    font-size: 18px;
}

.TableauParcours{
    text-align: left;
    margin-left: 450px;
    margin-right: 450px;
    padding: 4px;
    font-size: 18px;
}

.TableauCompetences{
    text-align: left;
    margin-left: 450px;
    margin-right: 450px;
    padding: 4px;
    font-size: 18px;
}

p{
    text-justify: newspaper;
}

ol{
    text-align: left;
}

.Menu{
    border: 0px;
}

.CategorieTableauParcours{
    color: rgb(215,200,161);
}

.PhotoContact{
    margin: 0px 230px;
}

#Linkedin{
    width: 240px;
    height: 140px;
    position: absolute;
    right: 310px;
    top: 600px;
}

.LogoStpaul{
    padding: 60px;
    position: relative;
    left: 15%;
}

.VideoStPaul{
    padding: 60px;
    position: relative;
    left: 20%;
}

.LogoENSIBS{
    padding: 60px;
    position: relative;
    left: 15%;
}

.VideoENSIBS{
    padding: 60px;
    position: relative;
    left: 20%;
}

.LogoStage{
    padding: 60px;
    position: relative;
    left: 17%;
}

.PhotoStage1{
    padding: 60px;
    position: relative;
    left: 25%;
}

.PhotoStage2{
    padding: 60px;
    position: relative;
    left: 20%;
}


